body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #3A5573; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1em; line-height: 1.25em; color: #333; }

h1, h2, h3 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 2.25em;  }
h2 { font-size: 1.15em}
h3 { font-size: 1em; }

h4 {font-family: 'times, serif';}
h4 { font-size: 0.7em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }
