<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  
<style>
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    background-color: #444;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 0.75;
}
</style>
  
  <body>
    <nav>
<ul>
  <li><a href="/">Home</a> | <a href="/research">Research</a> | <a href="/teaching">Teaching</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:baobao.zhang@yale.edu">Email</a></li>
   <li><a href="https://github.com/13bzhang">GitHub</a></li>
   <li><a href="https://scholar.google.com/citations?user=yqpOQRsAAAAJ&hl=en">Google Scholar</a></li>
   <li><a href="https://twitter.com/baobaofzhang">Twitter</a></li>
   <li><a href="https://osf.io/6phwx/">OSF</a></li>
   </ul>
  </footer>
  </body>

</html>
