<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>


  <body>
    <nav>
<ul>
  <li><a href="/">Home</a> | <a href="/research">Research</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:baobao.zhang@yale.edu">Email</a></li>
   <li><a href="https://github.com/13bzhang">GitHub</a></li>
   </ul>
  </footer>
  </body>

</html>
